# Ignore project virtual environment in the .venv folder
# I already had .venv/ from previous commit. 
.venv/

# Ignore Visual Studio Code settings in the .vscode folder
.vscode/

# Ignore macOS specific files
# .DS_Store